<!-- Searchbar -->
<div class="w-[80%] mt-5 m-auto">
  <mat-form-field class="w-full">
    <input matInput type="search" 
      [ngModel]="textQuery()" 
  (ngModelChange)="textQuery.set($event)"
     >
    <button matSuffix mat-icon-button aria-label="Search" >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<h1 class="text-[48px] text-center m-15">🛒 Fake Store Products</h1>

@if(id() !== ''){
<div class="w-[80%] m-auto">
  <h1
    [routerLink]="['/products']"
    class="text-[30px] font-bold m-5 cursor-pointer"
  >
    /All Product
  </h1>
</div>
} @if (products().length > 0) {

<ul class="w-[80%] m-auto grid grid-cols-4 gap-4 cursor-pointer">
  @for (product of filteredProducts(); track product.id) {

  <li class="" [routerLink]="['/product', product.id]" >
    <img [src]="product.image" [alt]="product.title" width="100" />
    <h2 class="text-[16px] font-bold]">{{ product.category }}</h2>
    <p>{{ truncateText(product.description, 20) }}</p>
  </li>
  }
</ul>

} @else {
<!-- card placeholder -->

<div class="py-4 rounded shadow-md w-60 sm:w-80 animate-pulse bg-gray-50">
  <div class="flex p-4 space-x-4 sm:px-8">
    <div class="flex-shrink-0 w-16 h-16 rounded-full bg-gray-300"></div>
    <div class="flex-1 py-2 space-y-4">
      <div class="w-full h-3 rounded bg-gray-300"></div>
      <div class="w-5/6 h-3 rounded bg-gray-300"></div>
    </div>
  </div>
  <div class="p-4 space-y-4 sm:px-8">
    <div class="w-full h-4 rounded bg-gray-300"></div>
    <div class="w-full h-4 rounded bg-gray-300"></div>
    <div class="w-3/4 h-4 rounded bg-gray-300"></div>
  </div>
</div>

}
